.name{
	color: darkblue;
	font-family: Georgia;
	text-align: center;
	font-size: 50px;
}
body{
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 150px;
	margin-bottom: 200px; 
}
.header{
	background-image: url("images/038674c577c66180000018c1b0e1e22.jpg");
	background-size: cover;
	background-position: bottom center;
    width: 100%
}
#putting{
	font-family: Georgia;
	font-size: 25px;
	font-family: Georgia;
	opacity: 0.50;
	line-height:1.5;
}
.list1{
	line-height:2.5;
	font-size: 20px;
	font-family: Georgia;
	color:	#808080;
}
.text{
	font-family: Georgia;
	letter-spacing:5px;
	font-size: 36px;
}
#number{
	font-size: 40px;
}

div #image{
	float:right;
	width: 350px;
	height: 300px;
	vertical-align: text-bottom;
}