.name{
	color: darkblue;
	font-family: Georgia;
	text-align: center;
	font-size: 50px;
}
body{
	background:lightcyan;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 150px;
	margin-bottom: 100px: 
}
#putting{
	font-family: Georgia;
	font-size: 25px;
}
.text{
	font-family: Georgia;
}
#number{
font-size: 40px;
}
#image{
	height: 200px;
	width: 250px;
}